{%extends 'layout/base.html'%}
<body>
{%block content%}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Thêm học sinh</h5>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Họ tên học sinh</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Giới tính</label>
                        <div class="col-sm-9">
                            <select name="gioiTinh" class="form-control" required>
                                <option value="">-- Chọn --</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Lớp</label>
                        <div class="col-sm-9">
                            <input type="text" name="Lop" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Tên phụ huynh</label>
                        <div class="col-sm-9">
                            <input type="text" name="nameParent" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">SĐT phụ huynh</label>
                        <div class="col-sm-9">
                            <input type="text" name="SDT" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label">Ảnh học sinh</label>
                        <div class="col-sm-9">
                            <input type="file" name="image" class="form-control">
                        </div>
                    </div>

                    <div class="text-end">
                        <a href="{{ url_for('index') }}" class="btn btn-secondary">
                            Quay lại
                        </a>
                        <a href="{{ url_for('add_student_route') }}" class="btn btn-primary">
                            Lưu học sinh
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h2>Danh sách trẻ</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Tên trẻ</th>
            <th>Giới tính</th>
            <th>Lớp</th>
            <th>Tên phụ huynh</th>
            <th>SDT</th>
            <th>Sức khỏe của trẻ</th>
            <th>Tiền ăn thêm</th>
            <th>Học phí</th>
        </tr>
        </thead>
        {%for p in studs%}
        <tbody>
        <tr>
            <th><img src="{{p.image}}" width="25"></th>
            <td>
                <a href="student_details.html">
                    {{p.name}}
                </a>
            </td>
            <th>{{p.gioiTinh}}</th>
            <th>{{p.category.name}}</th>
            <td>{{p.nameParent}}</td>
            <td>{{p.SDT}}</td>
            <td>
                <a href="{{ url_for('health_record', id=p.id)}}" class="btn btn-primary mt-3">Thông tin sức khỏe của trẻ</a>
            </td>
            <td>{{p.tienAnThem}}</td>
            <td>
                {{p.category.hocPhi}}
                <a href="{{ url_for('export_invoice', id=p.id)}}" class="btn btn-primary mt-3">Thu học phí</a>
            </td>
            <td>
                <a href="{{url_for('delete_student', id=p.id)}}" class="btn btn-danger mt-3">Xóa</a>
            </td>
        </tr>
        </tbody>
        {%endfor%}
    </table>
</div>

<ul class="pagination mt-3">
    {%for i in range(1,pages+1)%}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {%endfor%}
</ul>
{%endblock%}