{%extends 'layout/base.html'%}
<body>
{%block content%}


<div class="row">
    {%if current_user.is_authenticated%}
    <div class="col-md-3 col 12" style="padding: 0.7rem">
        <div class="card">
            <img class="card-img-top" src="{{current_user.avatar}}" alt="{{current_user.name}}">
            <div class="card-body">
                <h4 class="card-title">{{current_user.name}}</h4>

            </div>
            <a href="{{url_for('add_student')}}" class="btn btn-primary">Xem thông tin trẻ</a>
            <a href="{{url_for('health_record')}}" class="btn btn-primary">Thông tin sức khỏe của trẻ</a>
        </div>
    </div>
    {%endif%}
</body>


